*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    
}



#index__header{
    color: white;
    background-color: rgb(0, 182, 124);
    width: 980px;
    height: 140px;
    
}

#index__header, .header__title{

    display: flex;
    align-items:center;
    justify-content: center;


}

#index__main{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}


.main__title{
    display: flex;
    align-items:center;
    justify-content: center;
}

.main__content{

    display: flex;
    align-items:center;
    justify-content: center;
    background-color: rgb(0, 182, 124);
    width: 690px;
    /*Professor, uma dúvida, aqui no width não seria melhor apenas deixar
    o flex:1;? já que ele sempre vai ocupar o espaço necessário ate o final
    da div? obrigado :)*/
    height: 450px;
}

.main__aside{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: rgb(0, 182, 124);
    margin-right: 15px;
    width: 270px;
    height: 450px;
}


#index__footer{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 15px;
    color: white;
    background-color: rgb(0, 182, 124);
    width: 980px;   
    height: 70px;
}

.footer__title{
    display: flex;
    align-items:center;
    justify-content: center;
}